
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&display=swap');
.meals {
    max-width: 60rem;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
    text-align: center;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .failed{
    font-family: 'Arima', cursive;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color:rgb(255, 255, 255);
    padding: 0.6rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background: linear-gradient(90deg, rgba(52,55,193,1) 0%, rgba(4,113,71,1) 92%);
    
    
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media ( max-width:600px){
  
    
    .meals ul {
      font-size: 12px;
    }
    
  }